.col {
  padding-right: " 30px !important";
  margin-right: "30px";
}

.table {
  padding-right: " 30px !important";
  margin-right: "30px";
}

#col {
  padding-right: " 30px !important";
  margin-right: "30px";
}

#table {
  padding-right: " 30px !important";
  margin-right: "30px !important";
}
